{% extends "layout.jinja" %}

{% block title %}Contact - {% endblock %}

{% block content %}
<div class="rp-contact">
  <div class="rp-container">
    <h4>Main Contacts</h4>
    <ul>
      <li><strong>Lattes:</strong> <a href="http://lattes.cnpq.br/3658029899908596">http://lattes.cnpq.br/3658029899908596</a></li>
      <li><strong>Email/Gtalk:</strong> renato.ppontes (at) gmail.com</li>
      <li><strong>Alternative Email:</strong> rppereira (at) inf.ufrgs.br</li>
      <li><strong>Skype:</strong> renato.ppontes</li>
      <li><strong>Github:</strong> <a href="https://github.com/renatopp">https://github.com/renatopp</a></li>
      <li><strong>Linkedin:</strong> <a href="https://linkedin.com/in/renatopp">https://linkedin.com/in/renatopp</a></li>
    </ul>

    <h4>Other Contacts</h4>
    <ul>
      <li><strong>Blog about Game Dev:</strong> <a href="http://guineashots.com/">http://guineashots.com/</a></li>
      <li><strong>Flickr:</strong> <a href="https://www.flickr.com/photos/renatopp/">https://www.flickr.com/photos/renatopp/</a></li>
    </ul>
  </div>
</div>
{% endblock %}