{% extends "layout.jinja" %}
{% block title %}Programming - {% endblock %}

{% block content %}


<div class="rp-programming">
  <div class="rp-programming-games">
    <div class="rp-container">

      <h4>Games</h4>

      <div class="row">

        {% for key, game in games.iteritems() %}
          <div class="col-xs-6 col-sm-4 col-md-3">
            <a href="{{url_for('project', name=key)}}" class="thumbnail">
              {% if game.thumbs|length > 0 %}
                <div class="rp-image" style="background-image:url({{url_for('static', filename='imgs/projects/'+game.thumbs[0])}})">
                </div>
              {% else %}
                <div class="rp-image" style="background-image:url('http://placehold.it/200x150')"></div>
              {% endif %}
    
              {% if game.featured %}
                <span class="rp-featured">
                  <span class="rp-featured-background">
                  </span>
                  <span class="rp-featured-icon">
                    <i class="fa fa-star"></i>
                  </span>
                </span>
              {% endif %}

              <span class="rp-caption">
                {{game.name}}
              </span>
            </a>
          </div>
        {% endfor %}

      </div>
    </div>
  </div>

  <div class="rp-programming-projects">
    <div class="rp-container">
    <h4>Projects</h4>
      
      <div class="row">
        {% for key, project in projects.iteritems() %}
          <div class="col-xs-6 col-sm-4 col-md-3">
            <a href="{{url_for('project', name=key)}}" class="thumbnail">
              {% if project.thumbs|length > 0 %}
                <div class="rp-image" style="background-image:url({{url_for('static', filename='imgs/projects/'+project.thumbs[0])}})">
                </div>
              {% else %}
                <div class="rp-image" style="background-image:url('http://placehold.it/200x150')"></div>
              {% endif %}

              {% if project.featured %}
                <span class="rp-featured">
                  <span class="rp-featured-background">
                  </span>
                  <span class="rp-featured-icon">
                    <i class="fa fa-star"></i>
                  </span>
                </span>
              {% endif %}

              <span class="rp-caption">
                {{project.name}}
              </span>
            </a>
          </div>
        {% endfor %}
      </div>

    </div>
  </div>
  
  <div class="rp-programming-others">
    <div class="rp-container">
      <h4>Miscellanneous libraries and projects</h4>

      <table class="table table-condensed table-striped">
        <tbody>
          {% for key, other in others.iteritems() %}
            <tr>
              <td><a href="{{other.site}}"><b>{{other.name}}</b> <em>{{other.description}}</em> <i class="fa fa-external-link"></i></a>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  window.onload = function() {
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
  }
</script>

{% endblock %}