{% extends "layout.jinja" %}
{% block title %}{{project.name}} - {% endblock %}

{% block content %}

<div class="rp-project">
  <div class="rp-project-info">
    <div class="rp-container">
      <h4>{{project.name}}</h4>
      <p><em><b>Technologies:</b> {{project.technologies}}</em></p>
      <p>{{project.description}}</p>
      <p><a href="{{project.site}}">Visit site <i class="fa fa-external-link"></i></a></p>
    </div>
  </div>
  <div class="rp-project-thumbs">
    <div class="rp-container">
      <div class="gallery">
        {% for img in project.thumbs %}
            {% set path = url_for('static', filename='imgs/projects/'+img) %}
          <a href="{{path}}">
            <div class="gallery-image" style="background-image:url({{path}});"></div>
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<script>
  window.onload = function() {
    $('.gallery').each(function() {
      $(this).magnificPopup({
        delegate: 'a',
        type: 'image',
        gallery: {
          enabled:true
        },
      });
    });
  }
</script>

{% endblock %}