{% extends "layout.jinja" %}
{% block title %}Research - {% endblock %}

{% block content %}

<div class="rp-research">
  <div class="rp-container text-justify">
    <h4>Main Interests</h4>
        
    <p>My main research interests are in Machine Learning and Game Artificial Intelligence, including applications in games, robotics and general agent modeling. I’m particularly interested in the following topics:</p>

    <ul>
      <li><strong>Learning in games:</strong> making computer controlled characters (NPCs) believable is an extremely difficult task. One way to move towards realism for NPCS is providing them the capability to lean, so they can adapt to reflect the players actions or changes in the environment, or can optimize their actions in the game.</li>
      <li><strong>Models for behavior-based agents:</strong> modeling and controlling agents, such as robots and non-playable characters (NPCs) in games, can be trivial in very constrained, controlled and simple environments, but when we need to use these agents in complex and dynamic worlds, we need methods to create robust plans. Behavior Trees (BTs), for example, is a powerful tool to represent agent behaviors and to control it in real time.</li>
      <li><strong>Incremental and online learning methods:</strong>  methods that can learn perpetually and continuously while the system receives new information. Commonly seen in science-fiction culture, this process is still a hard task for current researches.</li>
      <li><strong>Learning compact and reusable concepts:</strong> in the perception context, learning concepts means learning representation of the world, for example: a mobile robot with sonar sensors can learn concepts such as “walls”, “corridor”, or “curves”. Learning these concepts in a compact form and being able to reuse them to create new and complex ones are very challenging tasks.</li>
    </ul>

    <h4>Projects</h4>
    <strong>2014-Present, Machine Learning and Reactive Planners</strong>

    <p>Currently, I’m researching how to make machine learning and reactive planners like behavior trees work together.</p>

    <strong>2011-2013, Hierarchical Incremental Gaussian Mixture Network</strong>

    <p>In my M.Sc., I proposed a hierarchical organization of IGMNs (Incremental Gaussian Mixture Network), a probabilistic incremental neural network based on GMM (Gaussian mixture models). The Hierarchical IGMN (HIGMN) can handle information from different domains, such as the readings of a sonar sensor and the velocity of the robot’s wheel. By learning this information as low-level concepts, the HIGMN is able to learn the map from sensor readings to motor speeds, thus learning simple reactive behaviors. Therefore, HIGMN can perform three different tasks in parallel: concept learning, behavior segmentation, and behavior learning. The HIGMN was able to learn and reproduce a simple behavior of wall-following from two different trajectories. Moreover, the model could generalize the demonstrations and perform new actions for unknown sensor readings, as shown in the following figure.</p>

    <ul class="list-group">
      <li class="list-group-item text-center">
        <img src="{{url_for('static', filename='imgs/msc.png')}}" class="img-responsive" />
        <small>(left) a demonstration trajectory of a wall-following behavior; (right) the robot trajectory by reproducing the wall-following behavior into an unknown environment.</small>
      </li>
    </ul>

    <h4>Publications</h4>
    <p><strong>Journal</strong></p>
    <ul>
      <li>2010, Pereira, R. P.; Duarte, M. <a href="http://static.renatopp.com/papers/teccen2010.pdf"><strong>Aplicação de um sistema imunológico artificial em um Tower Defense</strong> <i class="fa fa-download"></i></a>. In: Revista Eletrônica TECCEN, Vassouras, Vol. 3, No. 2. pp. 35-46.</li>
    </ul>

    <p><strong>Conferences</strong></p>
    <ul>
      <li>2015, Pereira, R. P.; Engel, P. M. <a href="http://arxiv.org/abs/1506.02312"><strong>A Framework for Constrained and Adaptive Behavior-Based Agents</strong> <i class="fa fa-download"></i></a>. Arxiv, abs/1506.02312.</li>
      <li>2014, Pereira, R. P.; Engel, P. M.; Rodrigues, T. F.; Oliveira, C. F. F. <a href="http://static.renatopp.com/papers/bracis2014.pdf"><strong>Improving Local Gaussian Process For Real-Time Online Regression</strong> <i class="fa fa-download"></i></a>. In: Encontro Nacional de Inteligência Artificial e Computacional (ENIAC), São Carlos.</li>
      <li>2012, Pereira, R. P.; Engel, P. M.; Pinto, R. C. <a href="http://static.renatopp.com/papers/sbrn2012.pdf"><strong>Learning Abstract Behaviors with the Hierarchical Incremental Gaussian Mixture Network</strong> <i class="fa fa-download"></i></a>. In: Brazilian Symposium on Neural Networks (SBRN), Curitiba. Proceedings on 21th Brazilian Symposium on Neural Networks.</li>
      <li>2010, Pereira, R. P.; Duarte, M. <a href="http://static.renatopp.com/papers/wia2010.pdf"><strong>Aplicação de um sistema imunológico artificial em um Tower Defense</strong> <i class="fa fa-download"></i></a>. In: III WIA – Workshop de Informática Aplicada e Desenvolvimento de Jogos para Computadores e Dispositivos Móveis, Volta Redonda. ANAIS III (WIA).</li>
      <li>2010, Cardia Neto J. B.; Pereira, R. P.; Duarte, M. <strong>Análise De Implementações Shaders Aplicados No Desenvolvimento De Jogos Eletrônicos</strong>. In: III WIA – Workshop de Informática Aplicada e Desenvolvimento de Jogos para Computadores e Dispositivos Móveis, Volta Redonda. ANAIS III WIA.</li>
    </ul>

    <p><strong>Thesis</strong></p>
    <ul>
      <li>2013, Pereira, R. P.; <a href="http://static.renatopp.com/papers/thesis2013.pdf"><strong>HIGMN: An IGMN-Based Hierarchical Architecture and its Applications For Robotic Tasks</strong> <i class="fa fa-download"></i></a>. Master Thesis. Universidade Federal do Rio Grande do Sul, UFRGS, Brasil.</li>
      <li>2011, Pereira, R. P.; <a href="http://static.renatopp.com/papers/thesis2011.pdf"><strong>Sistemas Imunológicos Artificiais Aplicados A Jogos De Computador</strong> <i class="fa fa-download"></i></a>. Bachelor Thesis. Centro Universitário Euripedes de Marília, UNIVEM, Brasil.</li>
    </ul>


    <h4>Awards and Honors</h4>
    <ul>
      <li>2013, <strong>Ph.D. Scholarship</strong>. Provided by CNPq (National Council for Scientific and Technological Development).</li>
      <li>2012, <a href="http://www.uni-tuebingen.de/fakultaeten/mathematisch-naturwissenschaftliche-fakultaet/fachbereiche/informatik/lehrstuehle/cognitive-modeling/competitions/competitions/demolition-derby-2012.html"><strong>1st Place, Demolition Derby competition (team award)</strong> <i class="fa fa-external-link"></i></a> – Competition takes place in a simulated demolition derby environment. The goal is to program a controller that hits opponents while avoiding being hit itself.</li>
      <li>2011, <strong>M.Sc. Scholarship</strong>. Provided by CNPq (National Council for Scientific and Technological Development)</li>
      <li>2010, <strong>1st Place, Programming Marathon (team award)</strong> – The programming marathon of the Centro Universitário Eurípides de Marília (UNIVEM).</li>
      <li>2007, <strong>2st Place, Programming Marathon (team award)</strong> – The programming marathon of the Centro Universitário Eurípides de Marília (UNIVEM).</li>
      <li>2007, <strong>Graduate scholarship</strong>. Provided by UNIVEM (Centro Universitário Eurípides de Marília)</li>
    </ul>

    <h4>Other Activities</h4>
    
    <p><strong>Event Organization</strong></p>
    <ul>
      <li>2010, conference. <strong>Congresso de Inovação com Tecnologias Open Source (CITOS)</strong>, Marília, SP.</li>
    </ul>

    <p><strong>Congress Reviews</strong></p>
    <ul>
      <li>2011, reviewer of the conference <strong>II Simpósio de Tecnologia da Informação</strong>, Santo Ângelo, RS.</li>
      <li>2014, reviewer of the conference <strong>20o Congresso Brasileiro de Automática</strong>, Belo Horizonte, MG.</li>
    </ul>

    <p><strong>Teaching Experience</strong></p>
    <ul>
      <li>2014 Fall, <strong>Teaching Assistant</strong> in INF01048, Artificial Intelligence. At Federal University of Rio Grande do Sul (UFRGS).</li>
      <li>2014 Fall, <strong>Teaching Assistant</strong> in INF01017, Neural Networks and Fuzzy Systems. At Federal University of Rio Grande do Sul (UFRGS).</li>
      <li>2014 Spring, <strong>Teaching Assistant</strong> in INF01048, Artificial Intelligence. At Federal University of Rio Grande do Sul (UFRGS).</li>
      <li>2012 Spring, <strong>Teaching Assistant</strong> in INF01017, Neural Networks and Fuzzy Systems. At Federal University of Rio Grande do Sul (UFRGS).</li>
      <li>2010, <strong>Introdução ao Python</strong>. <em>Introduction to Python</em>. Lecture at Centro Universitário Eurípides de Marília (UNIVEM).</li>
      <li>2009, <strong>Noções básicas da linguagem de programação Python</strong>. <em>Basics of Python Programming Language</em>. Lecture at Faculdade de Técnologia de Lins (FATEC-Lins).</li>
    </ul>

  </div>
</div>


{% endblock %}


Congress Reviews

2011, reviewer of the conference II Simpósio de Tecnologia da Informação, Santo Ângelo, RS.
2014, reviewer of the conference 20o Congresso Brasileiro de Automática, Belo Horizonte, MG.
Teaching Experiences

2014 Fall, Teaching Assistant in INF01048, Artificial Intelligence. At Federal University of Rio Grande do Sul (UFRGS).
2014 Fall, Teaching Assistant in INF01017, Neural Networks and Fuzzy Systems. At Federal University of Rio Grande do Sul (UFRGS).
2014 Spring, Teaching Assistant in INF01048, Artificial Intelligence. At Federal University of Rio Grande do Sul (UFRGS).
2012 Spring, Teaching Assistant in INF01017, Neural Networks and Fuzzy Systems. At Federal University of Rio Grande do Sul (UFRGS).
2010, Introdução ao Python. Introduction to Python. Lecture at Centro Universitário Eurípides de Marília (UNIVEM).
2009, Noções básicas da linguagem de programação Python. Basics of Python Programming Language. Lecture at Faculdade de Técnologia de Lins (FATEC-Lins).