<div id="rp-cover"
     class="rp-cover uk-flex uk-flex-center uk-flex-middle">

  <div class="rp-cover-content">
    <span class="rp-cover-title">Renato Pereira</span>
    <span class="rp-cover-subtitle">Software Engineer</span>
  </div>

  <div id="rp-cover-links"
       class="rp-cover-links uk-flex uk-flex-center uk-flex-middle"
       {{!-- style="z-index: 980;" --}}
       {{!-- uk-sticky="bottom: #offset" --}}
       >
    <a class="rp-cover-link" href="#rp-about" uk-scroll>About</a>
    <a class="rp-cover-link" href="#rp-portfolio" uk-scroll>Portfolio</a>
    <a class="rp-cover-link" href="#rp-contact" uk-scroll>Contact</a>
  </div>

  <canvas id="rp-cover-canvas"
          class="rp-cover-canvas">
  </canvas>
</div>