<div id="rp-about" class="rp-about uk-container uk-flex uk-flex-center uk-flex-middle">

  <div class="rp-about-content">
    <div class="rp-about-avatar">
      <img src="assets/imgs/avatar.jpg" alt="Me">
    </div>

    <p style="max-width: 700px">
      {{data.profile}}
    </p>

  </div>
</div>