<div class="rp-header">
  <a href="#">
    <div class="rp-header-title">
      Renato Pereira
    </div>
    <div class="rp-header-subtitle">
      Researcher &amp; Programmer
    </div>
  </a>
</div>


{% set navigation_bar = [
    ('/', 'Home'),
    ('/research', 'Research'),
    ('/programming', 'Programming'),
    ('/contact', 'Contact'),
    ('http://guineashots.com', 'Blog <i class="fa fa-external-link"></i>'),
] -%}

<div class="rp-menu hidden-xs">
  {% for href, caption in navigation_bar %}
    <a class="menu-item {% if href==request.path %}active{% endif
    %}" href="{{href|e}}">{{caption}}</a>

    {% if not loop.last %}
      &#8226; 
    {% endif %}
  {% endfor %}
</div>

<div class="rp-menu rp-menu-xs list-group visible-xs">
  {% for href, caption in navigation_bar %}
    <a class="list-group-item {% if href==request.path %}active{% endif
    %}" href="{{href|e}}">{{caption}}</a>
  {% endfor %}
</div>